{% load static %}

<div>
     {% if contract %}
            <td>V Brně dne {% if contract.signed_at %}{{ contract.signed_at }}{% else %}...{% endif %}</td>
        {% elif protocol %}
            <td>{{ proposal.fulfillment_place }} dne {% if protocol.signed_at %}{{ protocol.signed_at }}{% else %}...{% endif %}</td>
        {% endif %}
</div>
<div id="subjects">
    <div id="subject"><img src="{% static 'img/podpis.png' %}" width="40mm"></div>
    <div id="subject">
        {% if signature %}
            <img src="{{ signature.file.url }}" width="40mm">
        {% endif %}
    </div>
</div>

<div id="subjects">
    <div id="subject" class="text-center">
        {% if proposal.contract_type.type == "KOUPE" %}
            prodávající
        {% elif proposal.contract_type.type == "DILO" %}
            zhotovitel
        {% endif %}
    </div>
    <div id="subject" class="text-center">
        {% if proposal.contract_type.type == "KOUPE" %}
            kupující
        {% elif proposal.contract_type.type == "DILO" %}
            objednatel
        {% endif %}
    </div>
</div>