<table class="data-table">
    <tbody>
    <tr>
        <td colspan="2" style="padding-bottom: 1mm;">
            <span style="font-size: 11pt;" class="primary-color-text"><em>{{ proposal.client.name }}</em></span>
        </td>
    </tr>
    {% if proposal.client.consumer %}
        <tr>
            <td>bytem:</td>
            <td>{{ proposal.client.address }}</td>
        </tr>
        <tr>
            <td>datum narození:</td>
            <td>{{ proposal.client.id_number }}</td>
        </tr>
    {% else %}
        <tr>
            <td>se sídlem:</td>
            <td>{{ proposal.client.address }}</td>
        </tr>
        <tr>
            <td>IČ:</td>
            <td>{{ proposal.client.id_number }}</td>
        </tr>
    {% endif %}

    {% if proposal.client.email %}
        <tr>
            <td style="font-weight: bold;">e-mail:</td>
            <td>{{ proposal.client.email }}</td>
        </tr>
    {% endif %}
    {% if proposal.client.phone_number %}
        <tr>
            <td style="font-weight: bold;">telefon:</td>
            <td>{{ proposal.client.phone_number }}</td>
        </tr>
    {% endif %}

    <tr>
        <td colspan="2" style="padding-top: 1mm;">
            na straně druhé (dále jen "
            <em class="extra-bold primary-color-text">
                {% if proposal.contract_type.type == "KOUPE" %}
                    kupující
                {% elif proposal.contract_type.type == "DILO" %}
                    objednatel
                {% endif %}
            </em>")
        </td>
    </tr>
    </tbody>
</table>
