{% if proposal.contract_type.type == "KOUPE" %}
    <h4>Prodávající</h4>
{% elif proposal.contract_type.type == "DILO" %}
    <h4>Zhotovitel</h4>
{% endif %}
<h5><b>{{ operator.name }}</b></h5>
<p>IČ {{ operator.id_number }}, se sídlem {{ operator.address }}, zastoupená {{ operator.acting_person }}</p>

{% if proposal.contract_type.type == "KOUPE" %}
    <h4>Kupující</h4>
{% elif proposal.contract_type.type == "DILO" %}
    <h4>Objednatel</h4>
{% endif %}
<div class="row">
    <h5 class=""><b>{{ proposal.client.name }}</b></h5>
</div>
<div class="row">
    <div class="col-3">
        <div class="badge bg-secondary">
            {% if proposal.client.consumer %}
                datum narození
            {% else %}
                IČ
            {% endif %}
        </div>
        <p>{{ proposal.client.id_number }}</p>
    </div>
    <div class="col-3">
        <div class="badge bg-secondary">
            {% if proposal.client.consumer %}
                bytem
            {% else %}
                se sídlem
            {% endif %}
        </div>
        <p>{{ proposal.client.address }}</p>
    </div>
    <div class="col-3">
        <div class="badge bg-secondary">e-mailová adresa</div>
        <p>{{ proposal.client.email }}</p>
    </div>
    <div class="col-3">
        <div class="badge bg-secondary">telefonní číslo</div>
        <p>{{ proposal.client.phone_number }}</p>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="badge bg-secondary">
            předmět smlouvy
        </div>
        <p>
            {% if proposal.contract_type.type == "KOUPE" %}
                dodávka
            {% elif proposal.contract_type.type == "DILO" %}
                dodávka a montáž
            {% endif %}
            {% if proposal.subject == "DVERE" %}
                dveří
            {% elif proposal.subject == "PODLAHA" %}
                podlahy
            {% elif proposal.subject == "DVERE_PODLAHA" %}
                dveří a podlahy
            {% elif proposal.subject == "ZBOZI" %}
                zboží
            {% endif %}
            dle cenové nabídky v příloze
        </p>
    </div>
    <div class="col-6">
        <div class="badge bg-secondary">
            {% if proposal.contract_type.type == "KOUPE" %}
                kupní cena
            {% elif proposal.contract_type.type == "DILO" %}
                cena díla
            {% endif %}
        </div>
        <p>{{ proposal.price }} Kč vč. DPH</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="badge bg-secondary">
            místo plnění
        </div>
        <p>{{ proposal.fulfillment_place }}</p>
    </div>
    <div class="col-6">
        <div class="badge bg-secondary">termín plnění</div>
        <p>{{ proposal.fulfillment_at | date:"d. m. Y" }}</p>
    </div>
</div>
<div class="row">
    <div class="badge bg-secondary">platby</div>
    <ol class="ms-2">
        {% for payment in proposal.payments.filter_contracts %}
            <li>část ve výši {{ payment.amount }} Kč se splatností {{ payment.get_due_display }}</li>
        {% endfor %}
    </ol>
</div>
{% if proposal.client.attachments.all %}
    <div class="row">
        <div class="badge bg-secondary">přílohy</div>
        {% for attachment in proposal.client.attachments.filter_contracts %}
            <p>{% if attachment.tag %}{{ attachment.tag }}{% else %}{{ attachment.file_name }}{% endif %}</p>
        {% endfor %}
    </div>
{% endif %}
<br>
