{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex row">
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-block pt-1">
                <a class="btn btn-warning" href="{% url "edit-client" contract.client.id %}">Klient</a>
                <a class="btn btn-primary" href="{% url "edit-cores" contract.id %}">Změnit ustanovení smlouvy</a>
                <a class="btn btn-secondary" href="{% url "manage-attachments" contract.client.id %}">Spravovat
                    přílohy</a>
                <a class="btn btn-info" href="{% url "print-document" contract.client.sign_code 'contract' contract.id %}">Náhled smlouvy</a>
                <a class="btn btn-dark mt-2" href="{% url "send-contract" contract.id %}">Odeslat klientovi</a>
            </div>
            <h4 class="mt-3">Údaje odlišné od nabídky</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ contract_form.contract_number|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ contract_form.signed_at|as_crispy_field }}
                    </div>
                </div>
                <h4 class="mt-3">Údaje shodné s nabídkou</h4>
                <div class="row">
                    <div class="col-6">
                        {{ proposal_form.subject|as_crispy_field }}
                        {{ proposal_form.contract_type|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ proposal_form.fulfillment_at|as_crispy_field }}
                        {{ proposal_form.fulfillment_place|as_crispy_field }}
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Uložit">
            </form>
        </div>


        <div class="col-md-6">
            {% include "proposals/payments.html" %}

            <h4>Náhled hlavičky smlouvy</h4>
            <br>
            {% include "contracts/contract_header.html" %}
            ...
            <br>
            {% if edited_cores %}
                <h4>Ustanovení, která byla pro tuto smlouvu změněna</h4>
                {% for core in edited_cores %}
                    {{ core.priority }},
                {% endfor %}
            {% endif %}
        </div>
    </div>





{% endblock %}
