{% extends "emailing/message_templates/email_base.html" %}

{% block content %}
    <h2>Nový dokument od společnosti {{ operator }}</h2>
    <br>
    <p>
        Pěkný den,<br>
        <br>
    <div id="documents"></div>
    ve službě SAMOSET {{ chosen_documents|pluralize:"je,jsou" }} pro
    Vás {{ chosen_documents|pluralize:"připraven nový dokument,připraveny nové dokumenty" }} s označením
    {% if chosen_documents|length == 1 %}
        {% for doc in chosen_documents %}{{ doc }}.{% endfor %}
    {% elif chosen_documents|length > 1 %}
        {% for doc in chosen_documents %}
            {{ doc }}{% if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    {% if mail.note %}
        <br>
        {{ mail.note }}
        <br>
    {% endif %}
    <br>
    Kliknětě prosím na níže uvedený odkaz, kde naleznete podrobnosti a budete moci dokument zkontrolovat a schválit.<br>
    <br>

    <a class="btn btn-sm btn-success" href="{{ link }}">Klikněte zde pro zobrazení dokumentů</a><br>
    <br>
    Děkujeme, že využíváte služby <a href="http://www.samoset.cz">SAMOSET</a>.<br>
    <br>
    S pozdravem,<br>
    {{ mail.created_by }}
    </p>
{% endblock %}
