{% extends "emailing/message_templates/email_base.html" %}

{% block content %}
<h1>Odkaz k dokumentům od společnosti {{ operator }}</h1>

<p>
    Pěkný den,<br>

    níže je odkaz k dokumentům u společnosti {{ operator }} ke klientovi {{ client }}.<br>

    Pokud jste tento e-mail nečekali, informujte nás prosím na níže uvedených kontaktech.<br>
    <br>
    <a class="btn btn-sm btn-success" href="{{ link }}">Klikněte zde pro zobrazení dokumentů</a><br>
    <br>
    Děkujeme, že využíváte služby <a href="http://www.samoset.cz">SAMOSET</a>.<br>
    <br>
</p>
{% endblock %}
