{% extends "emailing/message_templates/email_base.html" %}

{% block content %}
<h1>Podepsaný dokument od společnosti {{ operator }}</h1>

<p>
    Pěkný den,<br>

    v příloze Vám zasíláme podepsaný dokument s označením {{ document_name }}.<br>

    Případně si jej můžete prohlédnout a stáhnout na níže uvedeném odkazu.<br>
    <br>
    <a class="btn btn-sm btn-success" href="{{ link }}">Klikněte zde pro zobrazení dokumentů</a><br>
    <br>
    Děkujeme, že využíváte služby <a href="http://www.samoset.cz">SAMOSET</a>.<br>
    <br>
    S pozdravem,<br>
    Váš SAMOSET
</p>
{% endblock %}
