{% extends "emailing/message_templates/email_base.html" %}

{% block content %}
<h1>Podepsaný dokument od společnosti {{ operator }}</h1>

<p>
    Pěkný den,<br>

    v příloze Vám zasíláme podepsaný dokument s označením {{ document }}.<br>

    Případně si jej můžete prohlédnout a stáhnout na níže uvedeném odkazu.<br>
    <br>
    <a href="{{ link }}">{{ code }}</a><br>
    <br>
    Děkujeme, že využíváte služby <a href="http://www.contraktor.cz">Contrakoru</a>.<br>
    <br>
    S pozdravem,<br>
    {{ sender }}
</p>
{% endblock %}
