{% extends "contracts/mustr_template.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Opravdu smazat smlouvu {{contract.id}}?</p>


            <form action="{% url 'delete-contract' contract.id %}" method="POST">
            {% csrf_token%}

            <a class ="btn btn-warning" href="{% url 'contracts' %}">Zpět</a>

            <input class="btn btn-danger" type="submit" name="Submit" value="Smazat">

            </form>
        </div>
    </div>
</div>


{% endblock %}
