<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontraktor</title>
      <link rel="icon" type="image/png" sizes="16x16" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <style>
          body {font-family: 'Montserrat', sans-serif;}
      </style>
  </head>
  <body>
  {% if contract.contract_type.type == "DILO" %}
      <h1>Smlouva o dílo č. {{ contract.contract_number }}</h1>
      <p>uzavřená podle ustanovení § 2586 a násl. zákona č. 89/2012 Sb., občanského zákoníku, v platném znění, mezi</p>
      {% elif contract.contract_type.type == "KOUPE" %}
      <h1>Kupní smlouva č. {{ contract.contract_number }}</h1>
      <p>uzavřená podle ustanovení § 2079 a násl. zákona č. 89/2012 Sb., občanského zákoníku, v platném znění, mezi</p>
  {% endif %}

    {% include "contracts/contract_header.html" %}
    Smluvní strany se dále dohodly:
    <ol type="I">
        <li>Základní ustanovení</li>
            <ol>
                {% for par in cores %}
                <li>{{ par.text }}</li>
                {% endfor %}
            </ol>
        <li>Závěrečná ustanovení</li>
    </ol>

    <p>V Brně dne {{ contract.signet_at | date:"d. m. y" }}</p>
    <div class="row">
    <div class="col-6">
        {% if contract.contract_type.type == "DILO" %}
      <p>podpis dodavatele</p>
      {% elif contract.contract_type.type == "KOUPE" %}
      <p>podpis prodávajícího</p>
  {% endif %}
    </div>
    <div class="col-6">
        {% if contract.contract_type.type == "DILO" %}
      <p>podpis objednatele</p>
      {% elif contract.contract_type.type == "KOUPE" %}
      <p>podpis kupujícího</p>
  {% endif %}
    </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
