{% extends "main.html" %}
{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-5 fw-bold lh-1 mb-3" id="welcome-header">Spravujte své dokumenty jednoduše!</h1>
                <p class="col-lg-10 fs-4">Do formuláře prosím zadejte text, který jste dostali e-mailem od
                    společnosti {{ operator }}</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" id="client-signcode-form">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="sign_code">
                        <label for="floatingInput">Váš kód z e-mailu</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Přejít k dokumentům</button>
                    <hr class="my-4">
                    <div class="text-center">
                        <small class="text-muted text-center">Kontraktor provozovaný společností </small>
                        <a class="text-center text-muted" href="{{ operator.web }}">{{ operator }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
