{% extends "document_components/document_base.html" %}

{% block content %}
    {% if proposal.contract_type.type == "DILO" %}
        <h1>Nabídka č. {{ proposal.proposal_number }} na uzavření smlouvy o dílo</h1>
    {% elif proposal.contract_type.type == "KOUPE" %}
        <h1>Nabídka č. {{ proposal.proposal_number }} na uzavření kupní smlouvy </h1>
    {% endif %}

    {% include "document_components/company_info.html" %}
    {% include "document_components/subject_info.html" %}
    <br>
    <table>
        <tr>
            <td><h2>Hlavní údaje nabídky</h2></td>
        </tr>
        {% if proposal.subject %}
            <tr>
                <td style="font-weight: bold;">předmět nabídky:</td>
                {% if proposal.subject.name == "pouze dveře" and proposal.contract_type.type == "KOUPE" %}
                    <td>dodávka dveřních kompletů dle položkového seznamu</td>
                {% elif proposal.subject.name == "pouze dveře" and proposal.contract_type.type == "DILO" %}
                    <td>dodávka a montáž dveřních kompletů dle položkového seznamu</td>
                {% elif proposal.subject.name == "pouze podlaha" and proposal.contract_type.type == "KOUPE" %}
                    <td>dodávka prodlahové krytiny dle položkového seznamu</td>
                {% elif proposal.subject.name == "pouze podlaha" and proposal.contract_type.type == "DILO" %}
                    <td>dodávka a montáž podlahové krytiny dle položkového seznamu</td>
                {% elif proposal.subject.name == "dveře i podlaha" and proposal.contract_type.type == "DILO" %}
                    <td>dodávka a montáž dveřních kompletů a podlahové krytiny dle položkového seznamu</td>
                {% elif proposal.subject.name == "dveře i podlaha" and proposal.contract_type.type == "KOUPE" %}
                    <td>dodávka dveřních kompletů a podlahové krytiny dle položkového seznamu</td>
                {% elif proposal.subject.name == "zboží" and proposal.contract_type.type == "DILO" %}
                    <td>dodávka a montáž zboží dle položkového seznamu</td>
                {% elif proposal.subject.name == "zboží" and proposal.contract_type.type == "KOUPE" %}
                    <td>dodávka a montáž zboží dle položkového seznamu</td>
                {% elif proposal.subject.name == "stavba" and proposal.contract_type.type == "DILO" %}
                    <td>dodávka stavebních prací dle položkového seznamu</td>

                {% endif %}
            </tr>
        {% endif %}
        {% if proposal.fulfillment_place %}
            <tr>
                <td style="font-weight: bold;">místo plnění:</td>
                <td>{{ proposal.fulfillment_place }}</td>
            </tr>
        {% endif %}
        {% if proposal.fulfillment_at %}
            <tr>
                <td style="font-weight: bold;">termín plnění:</td>
                <td>{{ proposal.fulfillment_at }}</td>
            </tr>
        {% endif %}
        {% if proposal.price_netto %}
            <tr>
                <td style="font-weight: bold;">celková cena bez DPH:</td>
                <td>{{ proposal.price_netto }} Kč</td>
            </tr>
        {% endif %}
        {% if proposal.price_brutto %}
            <tr>
                <td style="font-weight: bold;">celková cena s DPH ({{ proposal.contract_type.vat }} %):</td>
                <td>{{ proposal.price_brutto }} Kč</td>
            </tr>
        {% endif %}
    </table>
    <br>
    <h2>Položkový seznam nabídky</h2>
    <table>
        <tr>
            <td>Číslo položky</td>
            <td>Název položky</td>
            <td>Množství</td>
            <td>Cena za jednotku</td>
            <td>Sleva na položce</td>
            <td>Celková cena za položku</td>
        </tr>
        {% for item in proposal.items.all %}
            <tr>
                <td>{{ item.priority }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price_per_unit }} Kč</td>
                <td>{{ item.sale_discount }} %</td>
                <td>{{ item.total_price }} Kč</td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <h2>Platební podmínky</h2>
    <ol>
        {% for payment in proposal.payments.filter_not_null %}
            <li>část ve výši {{ payment.amount }} Kč se splatností {{ payment.get_due_display }}</li>
        {% endfor %}
    </ol>
    {% if attachments %}
        <h2>Přílohy nabídky</h2>
        <ol>
            {% for attachment in attachments %}
                <li>{{ attachment.tag }} - {{ attachment.file_name }}</li>
            {% endfor %}
        </ol>
        <br>
    {% endif %}

    <h2>Informace před uzavřením smlouvy</h2>
    <ol>
        <li>Tato nabídka je platná do {{ proposal_validity|date }}.</li>
        <li>{% if proposal.contract_type.type == "DILO" %}
            Zahájení montáže je možné zpravidla 15 až 20 týdnů od uzavření smlouvy a zaplacení zálohové faktury.
        {% elif proposal.contract_type.type == "KOUPE" %}
            Dodání předmětu nabídky je možné zpravidla 15 až 20 týdnů od uzavření smlouvy a zaplacení zálohové faktury.
        {% endif %}</li>
        <li>Záruční doba je obvykle 24 měsíců od předání.</li>
        <li>Pokud není přílohou této nabídky zaměření, jsou množstevní a cenové údaje pouze orientační a mohou se změnit
            po provedení zaměření.
        </li>
    </ol>
    <br>

    <h2>Detailní specifikace jednotlivých položek nabíkdy včetně výrobních dat</h2>
    {% for item in proposal.items.all %}
        {% if item.description or item.production_data %}
            <p>Položka č. {{ item.priority }}</p>
            {% if item.description %}<p>Detailní popis: {{ item.description }}</p>{% endif %}
            {% if item.production_data %}<p>Výrobní data: {{ item.production_data }}</p>{% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}
