{% extends "document_components/document_base.html" %}

{% block content %}
    {% if proposal.contract_type.type == "DILO" %}
        <h1>Nabídka č. {{ proposal.document_number }} na uzavření smlouvy o dílo</h1>
    {% elif proposal.contract_type.type == "KOUPE" %}
        <h1>Nabídka č. {{ proposal.document_number }} na uzavření kupní smlouvy </h1>
    {% endif %}

    {% include "document_components/subjects.html" %}
    <br>
    <h2>Hlavní údaje nabídky</h2>
    <table>
        {% if proposal.subject %}
            <tr>
                <td style="font-weight: bold;">předmět nabídky:</td>
                <td>{% include "document_components/proposal_subject.html" %}</td>
            </tr>
        {% endif %}
        {% include "document_components/other_essentials.html" %}
    </table>
    <br>
    <h2>Položkový seznam nabídky</h2>
    <table>
        <tr>
            <td>Číslo položky</td>
            <td>Název položky</td>
            <td>Množství</td>
            <td>Cena za jednotku</td>
            <td>Sleva na položce</td>
            <td>Celková cena za položku</td>
        </tr>
        {% for item in proposal.items.all %}
            <tr>
                <td>{{ item.priority }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.quantity }} {{ item.unit }}</td>
                <td>{{ item.price_per_unit }} Kč</td>
                <td>{{ item.sale_discount }} %</td>
                <td>{{ item.total_price }} Kč</td>
            </tr>
        {% endfor %}
    </table>
    <br>

    {% include "document_components/payments.html" %}
    {% if attachments %}
        <h2>Přílohy nabídky</h2>
        {% include "document_components/attachments.html" %}
        <br>
    {% endif %}

    <h2>Informace před uzavřením smlouvy</h2>
    <ol>
        <li>Tato nabídka je platná do {{ proposal_validity|date }}.</li>
        {% for paragraph in paragraphs %}
            <li>{{ paragraph.text }}</li>
        {% endfor %}
        
    </ol>
    <br>

    <h2>Detailní specifikace jednotlivých položek nabíkdy včetně výrobních dat</h2>
    {% for item in proposal.items.all %}
        {% if item.description or item.production_data %}
            <p>Položka č. {{ item.priority }}</p>
            {% if item.description %}<p>Detailní popis: {{ item.description }}</p>{% endif %}
            {% if item.production_data %}<p>Výrobní data: {{ item.production_data }}</p>{% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}
