{% extends "document_components/document_base.html" %}

{% block content %}
    {% if proposal.contract_type.type == "DILO" %}
        <h1>Nabídka č. {{ proposal.proposal_number }} na uzavření smlouvy o dílo</h1>
    {% elif proposal.contract_type.type == "KOUPE" %}
        <h1>Nabídka č. {{ proposal.proposal_number }} na uzavření kupní smlouvy </h1>
    {% endif %}

    {% include "document_components/company_info.html" %}
    {% include "document_components/subject_info.html" %}
    <br>
    <table>
        <tr>
            <td><h2>Údaje nabídky</h2></td>
        </tr>
        {% if proposal.subject %}
            <tr>
                <td style="font-weight: bold;">předmět nabídky:</td>
                <td>{{ proposal.subject.name }}</td>
            </tr>
        {% endif %}
        {% if proposal.fulfillment_place %}
            <tr>
                <td style="font-weight: bold;">místo plnění:</td>
                <td>{{ proposal.fulfillment_place }}</td>
            </tr>
        {% endif %}
        {% if proposal.fulfillment_at %}
            <tr>
                <td style="font-weight: bold;">termín plnění:</td>
                <td>{{ proposal.fulfillment_at }}</td>
            </tr>
        {% endif %}
        {% if proposal.price_netto %}
            <tr>
                <td style="font-weight: bold;">celková cena bez DPH:</td>
                <td>{{ proposal.price_netto }} Kč</td>
            </tr>
        {% endif %}
        {% if proposal.price_brutto %}
            <tr>
                <td style="font-weight: bold;">celková cena s DPH ({{ proposal.contract_type.vat }} %):</td>
                <td>{{ proposal.price_brutto }} Kč</td>
            </tr>
        {% endif %}
    </table>
    <br>
    <table>
        <tr>
            <td><h2>Položky nabídky</h2></td>
        </tr>
        <tr>
            <td>Popis položky</td>
            <td>Množství</td>
            <td>Cena za jednotku</td>
            <td>Sleva na položce</td>
            <td>Celková cena za položku</td>
        </tr>
        {% for item in proposal.items.all %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price_per_unit }} Kč</td>
                <td>{{ item.sale_discount }} %</td>
                <td>{{ item.total_price }} Kč</td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <h2>Platební podmínky</h2>
    <ol>
        {% for payment in proposal.payments.filter_contracts %}
            <li>část ve výši {{ payment.amount }} Kč se splatností {{ payment.get_due_display }}</li>
        {% endfor %}
    </ol>

    <p>Tato nabídka je platná do {{ proposal_validity|date }}.
        {% if proposal.contract_type.type == "DILO" %}
            Zahájení montáže je možné zpravidla 15 až 20 týdnů od uzavření smlouvy a zaplacení zálohové faktury.
        {% elif proposal.contract_type.type == "KOUPE" %}
            Dodání předmětu nabídky je možné zpravidla 15 až 20 týdnů od uzavření smlouvy a zaplacení zálohové faktury.
        {% endif %}
    </p>
    <br>
    {% if production_data %}
        <h2>Detailní specifikace jednotlivých položek nabíkdy včetně výrobních dat</h2>
        {% for item in production_data %}
            {{ item.priority }} - {{ item.production_data }}
        {% endfor %}
    {% endif %}

{% endblock %}
