{% extends "main.html" %}
{% block content %}
{% load render_table from django_tables2 %}
    <div class="d-flex justify-content-between">
    <h2 class="">Přehled nabídek</h2>
    <a class="btn btn-success h-75 align-self-center m-2" href="{% url "create-proposal" %}">Přidat nabídku</a>
    </div>

    <form action="" method="get" class="form-control">
        <div class="row d-flex">
            <div class="col">
            <input type="text" name="name_email_place_address" id="id_name_email_place_address" class="form-control" placeholder="Hledej dle čísla nabídky, jména, e-mailu, adresy nebo místa plnění...">
            </div>
            <div class="col">
            <button class="btn btn-outline-primary" type="submit" name="button">Filtrovat</button>
            </div>
        </div>
    </form>

    <div>
        {% render_table table %}
    </div>


{% endblock %}
