{% extends "document_components/document_base.html" %}

{% block content %}
    <h1>Předávací protokol ke smlouvě č. {{ protocol.contract.document_number }}</h1>
    <h2 class="text-center">ze dne {{ protocol.created_at }}</h2>
    {% include "document_components/subjects.html" %}
    <br>
    <h2>Informace k předání</h2>
    <ol>
        <li>Tento protokol je platný i bez podpisu klienta.</li>
        {% include "document_components/sections_and_paragraphs.html" %}
    </ol>
    <br>
    {% if protocol.note %}
        <h2> Poznámky k předávacímu protokolu</h2>
        <p>{{ protocol.note }}</p>
    {% endif %}
    <h2>Položky</h2>
    <table>
        <thead>
        <tr>
            <th>Číslo a název položky ze smlouvy</th>
            <th>Upřesnění</th>
            <th>Stav</th>
            <th>Poznámka</th>
        </tr>
        </thead>
        <tbody>
        {% for item in protocol.items.all %}
            <tr>
                <td>{{ item.item.id }} - {{ item.item.title }}</td>
                <td>{% if item.description %}{{ item.description }}{% else %}-{% endif %}</td>
                <td>{% if item.status == "yes" %} Předáno dne {{ item.created_at }}
                {% elif item.status == "with_note" %} Předáno s výhradou dne {{ item.created_at }}
                {% elif item.status == "no" %} Nepředáno
                {% endif %}
                </td>
                <td>{% if item.note %}{{ item.note }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>Protokol vytvořil: {{ protocol.created_by }}</h4>
    <br>
    {% if attachments %}
        <h2>Přílohy protokolu</h2>
        <ol>
            {% for attachment in attachments %}
                <li>{{ attachment.tag }} - {{ attachment.file_name }}</li>
            {% endfor %}
        </ol>
        <br>
    {% endif %}



    {% include "document_components/signs.html" %}

{% endblock %}
