{% extends "main.html" %}
{% block content %}

    {% load crispy_forms_tags %}
    <a class="btn btn-warning" href="{% url 'edit-client' client.id %}">Zpět</a>
    <h4>Již nahrané přílohy ke klientovi {{ client.name }}</h4>
    <table class="table table-striped">
    <thead>
        <th scope="col">Název souboru</th>
        <th scope="col">Název přílohy</th>
        <th scope="col">Součást nabídky</th>
        <th scope="col">Součást smlouvy</th>
        <th scope="col">Odebrat</th>
    </thead>
    <tbody>
        {% for attachment in client.attachments.all %}
            <tr>
                <td>{{ attachment.file }}</td>
            <td>
                <form method="post" name="edit_name">
                    {% csrf_token %}
                    <input type="text" value="{{ attachment.name }}" id="{{ attachment.id }}" name="{{ attachment.id }}">
                    <button class="btn btn-success" type="submit" name="edit_name">Uložit</button>
                </form>
            </td><td>
{#                TODO: implementovat htmx, nyní nefunkční #}
                <form method="post" name="add_to_proposal">
                    {% csrf_token %}
                    <input type="checkbox" value="True" name="{{ attachment.id }}" id="{{ attachment.id }}">
                    <button class="btn btn-success" type="submit" name="add_to_proposal">Uložit</button>
                </form>
            </td><td>
                <form method="post" name="add_to_contract">
                    {% csrf_token %}
                    <input type="checkbox" name="{{ attachment.id }}" id="{{ attachment.id }}">
                    <button class="btn btn-success" type="submit" name="add_to_contract">Uložit</button>
                </form>
            </td>
            <td><a class="btn btn-danger" href="{% url "delete-attachment" attachment.id %}">Odebrat</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>
    <h4>Vyberte soubory k nahrání a přiřazení ke klientovi {{ client.name }}</h4>
  <form method="post" enctype="multipart/form-data" name="add_file">
    {% csrf_token %}
      {{ form.file|as_crispy_field }}
    <button class="btn btn-success" type="submit">Nahrát</button>
  </form>

{% endblock %}
