{% extends "main.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body m-2">
            <p>Opravdu smazat smlouvu {{contract.contract_number}}?</p>


            <form action="{% url 'delete-contract' contract.id %}" method="POST">
            {% csrf_token%}

            <a class ="btn btn-warning" href="{{ request.META.HTTP_REFERER }}">Zpět</a>

            <input class="btn btn-danger" type="submit" name="Submit" value="Smazat">

            </form>
        </div>
    </div>
</div>


{% endblock %}
