{% extends "document_components/document_base.html" %}

{% block content %}
    {% if proposal.contract_type.type == "DILO" %}
        <h1>Smlouva o dílo č. {{ contract.document_number }}</h1>
        <p class="text-center">uzavřená podle ustanovení § 2586 a násl. zákona č. 89/2012 Sb., občanského zákoníku,
            v platném znění, mezi</p>
    {% elif proposal.contract_type.type == "KOUPE" %}
        <h1>Kupní smlouva č. {{ contract.document_number }}</h1>
        <p class="text-center">uzavřená podle ustanovení § 2079 a násl. zákona č. 89/2012 Sb., občanského zákoníku,
            v platném znění, mezi</p>
    {% endif %}
    
    {% include "document_components/subjects.html" %}


    <br>
    <h2>Podstatné náležitosti smlouvy</h2>
    <table>
        {% if proposal.subject %}
            <tr>
                <td style="font-weight: bold;">předmět smlouvy:</td>
                <td>{% include "document_components/proposal_subject.html" %}</td>
            </tr>
        {% endif %}
        {% include "document_components/other_essentials.html" %}
    </table>

    <br>

    {% include "document_components/payments.html" %}
    <br>

    {% if attachments %}
        <h2>Přílohy smlouvy</h2>
        {% include "document_components/attachments.html" %}
        <br>
    {% endif %}

    <h3>Smluvní strany se dále dohodly:</h3>
        <ol id="sections">
            {% for section, pars in sections.items %}
                <li id="section">{{ section }}</li>
                    <ol id="pars">
                        {% for par in pars %}
                            <li>{{ par }}</li>
                        {% endfor %}
                    </ol>
            {% endfor %}
        </ol>

    <br>
    {% include "document_components/signs.html" %}

{% endblock %}
