{% extends "main.html" %}
{% block content %}
    {% load render_table from django_tables2 %}
    <div class="d-flex justify-content-between">
    <h2 class="">Přehled smluv</h2>
    </div>

    <form action="" method="get" class="form-control">
        <div class="row d-flex">
            <div class="col">
            <input type="text" name="name_email_place_address" id="id_name_email_place_address" class="form-control" placeholder="Hledej dle čísla smlouvy, jména, e-mailu, adresy nebo místa plnění...">
            </div>
            <div class="col">
            <button class="btn btn-outline-primary" type="submit" name="button">Filtrovat</button>
            </div>
        </div>
    </form>

    <div>
        {% render_table table %}
    </div>
{% endblock %}
