{% extends "document_components/document_base.html" %}

{% block content %}

    {% if contract.proposal.contract_type.type == "DILO" %}
        <h1>Smlouva o dílo č. {{ contract.contract_number }}</h1>
        <p class="text-center">uzavřená podle ustanovení § 2586 a násl. zákona č. 89/2012 Sb., občanského zákoníku,
            v platném znění, mezi</p>
    {% elif contract.contract_type.type == "KOUPE" %}
        <h1>Kupní smlouva č. {{ contract.contract_number }}</h1>
        <p class="text-center">uzavřená podle ustanovení § 2079 a násl. zákona č. 89/2012 Sb., občanského zákoníku,
            v platném znění, mezi</p>
    {% endif %}

    {% include "document_components/company_info.html" %}
    {% include "document_components/subject_info.html" %}
    <br>
    <h2>Podstatné náležitosti smlouvy</h2>
    <table>
        {% if proposal.subject %}
            <tr>
                <td style="font-weight: bold;">předmět smlouvy:</td>
                <td>{{ proposal.subject.name }}</td>
            </tr>
        {% endif %}
        {% if proposal.fulfillment_place %}
            <tr>
                <td style="font-weight: bold;">místo plnění:</td>
                <td>{{ proposal.fulfillment_place }}</td>
            </tr>
        {% endif %}
        {% if proposal.fulfillment_at %}
            <tr>
                <td style="font-weight: bold;">termín plnění:</td>
                <td>{{ proposal.fulfillment_at }}</td>
            </tr>
        {% endif %}
        {% if proposal.price_netto %}
            <tr>
                <td style="font-weight: bold;">celková cena bez DPH:</td>
                <td>{{ proposal.price_netto }} Kč</td>
            </tr>
        {% endif %}
        {% if proposal.price_brutto %}
            <tr>
                <td style="font-weight: bold;">celková cena s DPH ({{ proposal.contract_type.vat }} %):</td>
                <td>{{ proposal.price_brutto }} Kč</td>
            </tr>
        {% endif %}
    </table>
    <br>

    <h2>Platební podmínky</h2>
    <ol>
        {% for payment in proposal.payments.filter_contracts %}
            <li>část ve výši {{ payment.amount }} Kč se splatností {{ payment.get_due_display }}</li>
        {% endfor %}
    </ol>
    <br>

    {% if contract.client.attachments.filter_contracts %}
        <h2>Přílohy smlouvy</h2>
        <ol>
            {% for attachment in contract.client.attachments.filter_contracts %}
                <li>{{ attachment }}</li>
            {% endfor %}
        </ol>
        <br>
    {% endif %}

    <h2>Smluvní strany se dále dohodly:</h2>

    <ol style="list-style-type: upper-roman;" class="tex">
        {% for section, pars in sections.items %}
            <li>{{ section }}</li>
            <ol>
                {% for par in pars %}
                    <li class="justify-list-item">{{ par }}</li>
                {% endfor %}
            </ol>
        {% endfor %}
    </ol>

    {% include "document_components/signs.html" %}

{% endblock %}
