{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex row">
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-block pt-1">
                <a class="btn btn-warning" href="{% url "edit-client" contract.client.id %}">Klient</a>
                <a class="btn btn-primary" href="{% url "edit-cores" contract.id %}">Změnit ustanovení smlouvy</a>
                <a class="btn btn-secondary" href="{% url "manage-attachments" contract.client.id %}">Spravovat
                    přílohy</a>
                <a class="btn btn-info"
                   href="{% url "print-document" contract.client.sign_code 'contract' contract.id %}">Náhled smlouvy</a>
                <form method="post" action="{% url "send-contract" contract.id %}">
                    {% csrf_token %}
                    <button class="btn btn-dark m-2" type="submit">Odeslat klientovi</button>
                    </form>
            </div>
            <h4 class="mt-3">Údaje odlišné od nabídky</h4>
            <form action="{{ contract.id }}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ contract_form.contract_number|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ contract_form.signed_at|as_crispy_field }}
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Uložit" name="contract">
            </form>
            <form method="POST" action="{{ contract.id }}">
            {% csrf_token %}
                <h4 class="mt-3">Údaje z nabídky č. <a
                        href="{% url "edit-proposal" proposal.id %}">{{ proposal.proposal_number }}</a></h4>
                <div class="row">
                    {{ proposal_form.client|as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ proposal_form.proposal_number|as_crispy_field }}
                        {{ proposal_form.subject|as_crispy_field }}
                        {{ proposal_form.contract_type|as_crispy_field }}
                    </div>
                    <div class="col-8">
                        {{ proposal_form.fulfillment_at|as_crispy_field }}
                        {{ proposal_form.fulfillment_place|as_crispy_field }}
                        {% if proposal.uploaded.last != None %}
                            <p>Podkladová nabídka</p>
                            {{ proposal.uploaded.last }}
                        {% endif %}
                    </div>
                    {% if "edit" in request.path %}
                        <div class="col-4">
                            {{ proposal_form.signed_at|as_crispy_field }}
                        </div>
                    {% endif %}
                </div>
                <input class="btn btn-success" type="submit" value="Uložit" name="proposal">
            </form>
        <br>
        </div>



        <div class="col-md-6">
            {% include "proposals/../proposals/payments.html" %}
            <br>
            {% if edited_cores %}
                <h4>Ustanovení, která byla pro tuto smlouvu změněna</h4>
                {% for core in edited_cores %}
                    {{ core.priority }},
                {% endfor %}
            {% endif %}
        </div>
    </div>



{% endblock %}
