{% extends "main.html" %}
{% block content %}
    {% load crispy_forms_tags %}

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url "edit-client" client.id %}" class="btn btn-outline-warning mx-2"
               id="client-button">Klient</a>
        </li>
        <li>
            <button class="btn btn-outline-info mx-2 button open-button" data-bs-toggle="modal"
                    data-bs-target="#addAttachModal" id="upload-button">Připojit přílohu
            </button>
        </li>
        <li><a href="{% url "create-protocol" client.id %}"
               class="btn btn-outline-success mx-2" id="create-protocol-button">Vytvořit předávací protokol</a></li>
    </ul>

    <div class="modal fade" id="addAttachModal" tabindex="-1" aria-labelledby="addAttachModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAttachModal">Vyberte soubory k nahrání a přiřazení ke
                        klientovi {{ client.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" name="add_file" class="m-2">
                        {% csrf_token %}
                        <label for="id_file" class="m-2">Vyberte soubory</label>
                        <input type="file" name="file" class="form-control m-2" multiple id="id_file" required>
                        <button class="btn btn-success m-2" type="submit" id="submit-upload-button">Nahrát</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h4 class="m-2">Vytvořené přílohy ke klientovi {{ client.name }}</h4>
    <table class="table table-striped m-2" id="created-attachments-table">
        <thead>
        <th scope="col">Název souboru</th>
        <th scope="col">Patří k dokumentu</th>
        <th scope="col">Možnosti</th>
        </thead>
        <tbody>
        {% for protocol in protocols %}
            <tr>
                <td><a href="{% url "print-document" client.sign_code "protocol" protocol.id %}"
                       onclick="runButtonLoader(event)">Předávací protokol ze
                    dne {{ protocol.created_at }}</a></td>
                <td><a href="{% url "edit-contract" protocol.contract.id %}">{{ protocol.contract }}</a></td>
                <td>{% if protocol.signed_at %}potvrzen dne {{ protocol.signed_at }}{% else %}
                    <a class="btn btn-secondary m-1" href="{% url "edit-protocol" protocol.id %}">Upravit</a>
                    <a class="btn btn-success m-1"
                       href="{% url "signing-document" client.sign_code protocol.id "protocol" %}">Podepsat klientem</a>
                    <a class="btn btn-danger m-1" href="{% url "delete-protocol" protocol.id %}">Odebrat</a>
                    </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    
    <h4 class="m-2">Nahrané přílohy ke klientovi {{ client.name }}</h4>
    <div hx-get="{% url 'get-uploaded' client.id %}"
         hx-trigger="load delay:1ms, change delay:100ms"
         id="uploaded-attachments-list"></div>


    <h4 class="m-2">Automaticky přidané přílohy ke klientovi {{ client.name }}</h4>
    <div hx-get="{% url 'get-default' client.id %}"
         hx-trigger="load delay:1ms, click remove-default-attachment delay:100ms"
         id="default-attachments-list"></div>

{% endblock %}
