{% extends "../main.html" %}
{% block content %}

    {% load crispy_forms_tags %}
    <a class="btn btn-warning" href="{% url 'edit-client' client.id %}">Zpět</a>
    <h4>Již nahrané přílohy ke klientovi {{ client.name }}</h4>
    <table class="table table-striped">
    <thead>
        <th scope="col">Název souboru</th>
        <th scope="col">Označení přílohy a nakládání s přílohou</th>
        <th scope="col">Odebrat</th>
    </thead>
    <tbody>
        {% for attachment in client.attachments.all %}
            <tr>
                <td>{{ attachment.file_name }}</td>
            <td>
                <form method="post" name="add_attachment_to" action="{{ attachment.id }}">
                    {% csrf_token %}
                    <div class="input-group">
                      <input type="text"  class="form-control" placeholder="např. Zaměření ze dne ..." value="{{ attachment.tag }}" id="attachment_tag" name="attachment_tag">
                      <select class="form-select" id="add_attachment_to" name="add_attachment_to">
                        <option value="intern" {% if attachment.purpose == "intern" or "" %}selected{% endif %}>Příloha je pouze interní.</option>
                        <option value="proposal" {% if attachment.purpose == "proposal" %}selected{% endif %}>Příloha je pouze přílohou nabídky.</option>
                        <option value="contract" {% if attachment.purpose == "contract" %}selected{% endif %}>Příloha je pouze přílohou smlouvy.</option>
                        <option value="both" {% if attachment.purpose == "both" %}selected{% endif %}>Příloha je přílohou nabídky i smlouvy.</option>
                      </select>
                    <button class="btn btn-success" type="submit">Uložit</button>
                    </div>
                </form>
            </td>
            <td><a class="btn btn-danger" href="{% url "delete-attachment" attachment.id %}">Odebrat</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>
    <h4>Vyberte soubory k nahrání a přiřazení ke klientovi {{ client.name }}</h4>
  <form method="post" enctype="multipart/form-data" name="add_file">
    {% csrf_token %}
      {{ form.file|as_crispy_field }}
    <button class="btn btn-success" type="submit">Nahrát</button>
  </form>

{% endblock %}
