
<table class="table table-striped m-2" id="uploaded-attachments-table">
    <thead>
    <th scope="col">Název souboru</th>
    <th scope="col">Označení přílohy</th>
    <th scope="col">Patří k dokumentu</th>
    <th scope="col">Odebrat</th>
    </thead>
    <tbody>
    {% for attachment in client.attachments.all %}
        <tr>
            <td><a href="{{ attachment.file.url }}">{{ attachment.file_name }}</a></td>

            <td>
                <form method="post" name="add_tag" action="{{ attachment.id }}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="např. Zaměření ze dne ..."
                               value="{{ attachment.tag }}" id="attachment_tag" name="attachment_tag"
                               hx-post="{% url 'add-attachment-attribute' attachment.id %}"
                               hx-trigger="keyup changed delay:1s"
                        >
                    </div>
                </form>
            </td>
            <td>
                <form method="post" id="add-attachment-to-document">
                    {% csrf_token %}
                    <input type="checkbox" class="btn-check" name="intern" value="set"
                           id="check-intern-attachment-{{ attachment.id }}" autocomplete="off"
                           hx-post="{% url "add-attachment-attribute" attachment.id %}"
                           {% if attachment.is_intern %}checked{% endif %}
                    >
                    <label class="btn"
                           for="check-intern-attachment-{{ attachment.id }}" id="add-document-button">Interní</label>
                    {% for document in documents %}
                        <input type="checkbox" class="btn-check" name="{{ document.get_class_id }}"
                               id="check-{{ document.get_name }}-attachment-{{ attachment.id }}"
                               hx-post="{% url "add-attachment-attribute" attachment.id %}" value="add"
                               autocomplete="off" {% if attachment in document.attachments.all %}checked{% endif %}>
                        <label class="btn"
                               for="check-{{ document.get_name }}-attachment-{{ attachment.id }}"
                               id="add-document-button">{{ document.get_name }}</label>
                    {% endfor %}
                </form>
            </td>

            <td><a class="btn btn-danger" href="{% url "delete-attachment" attachment.id %}">Odebrat</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>