{% block content %}
    <h4 class="mt-2">Platební podmínky</h4>
    <div class="row">
        <p>Celková cena je {{ proposal.price }} Kč a je rozložena do plateb:</p>
    </div>
    <ol>
        <form method="post" action="{% url "edit-payments" proposal.id %}">
            {% csrf_token %}
            {% for payment in proposal.payments.all %}
                <li>
                    <div class="input-group">
                        <span class="input-group-text" style="width: 35%">část ve výši {{ payment.amount }} Kč</span>
                        <div class="form-floating">
                            <input class="form-control" value="{{ payment.part }}" id="payment_part"
                                   name="payment_part">
                            <label for="payment_part">% z celku</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="payment_due" name="payment_due">
                                <option value="99" {% if payment.due == "99" %}selected{% endif %}>-
                                </option>
                                <option value="10" {% if payment.due == "10" %}selected{% endif %}>po
                                    podpisu smlouvy
                                </option>
                                {% if proposal.contract_type.type == "KOUPE" %}
                                    <option value="21" {% if payment.due == "21" %}selected{% endif %}>před
                                        dodání
                                    </option>
                                    <option value="31" {% if payment.due == "31" %}selected{% endif %}>po
                                        dodáním
                                    </option>
                                {% elif proposal.contract_type.type == "DILO" %}
                                    <option value="22" {% if payment.due == "22" %}selected{% endif %}>před
                                        dokončením
                                    </option>
                                    <option value="32" {% if payment.due == "32" %}selected{% endif %}>po
                                        dokončení
                                    </option>
                                {% endif %}
                            </select>
                            <label for="payment_due">splatná</label>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <button class="btn btn-success mt-1" type="submit">Aktualizovat platební podmínky</button>
        </form>
    </ol>
{% endblock %}
