{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    {% if client.id %}
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="btn btn-outline-info m-2" href="{% url "client-mail-list" client.id %}"
                   id="emails-overview-button">Přehled
                    e-mailů</a>
            </li>
            <li><a class="btn btn-outline-secondary m-2" href="{% url "manage-attachments" client.id %}"
                   id="manage-attachments-button">Spravovat
                přílohy</a></li>
            <li><a class="btn btn-outline-success m-2" href="{% url "create-proposal" client.id %}"
                   id="create-proposal-button">Vytvořit
                nabídku</a></li>
        </ul>
    {% endif %}
    <div class="d-flex row">
        <div class="col-md">
            <form action="" method="POST" class="ms-2">
                {% csrf_token %}
                <h4 class="mt-2">Údaje o klientovi</h4>
                <p>{{ form.consumer|as_crispy_field }}</p>
                <div class="row">
                    <div class="col-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.id_number|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                </div>
                {{ form.address|as_crispy_field }}
                {{ form.note|as_crispy_field }}

                <input class="btn btn-success" type="submit" value="Uložit">
            </form>
        </div>
        <div class="col-md">
            {% if client %}
                <h4>Nahrané přílohy ke klientovi {{ client.name }}</h4>
                <table class="table table-striped">
                    <thead>
                    <th scope="col">Název souboru</th>
                    <th scope="col">Označení přílohy</th>
                    <th scope="col">Nakládání s přílohou</th>
                    </thead>
                    <tbody>
                    {% for attachment in client.attachments.all %}
                        <tr>
                            <td><a href="{{ attachment.file.url }}">{{ attachment.file_name }}</a></td>
                            <td>{{ attachment.tag }}</td>
                            <td>
                                {% if attachment.purpose == "intern" or "" %}
                                    interní
                                {% elif attachment.purpose == "proposal" %}
                                    přiloží se pouze k nabídkce
                                {% elif attachment.purpose == "contract" %}
                                    přiloží se pouze ke smlouvě
                                {% elif attachment.purpose == "both" %}
                                    přiloží se k nabídkce i ke smlouvě
                                {% elif attachment.purpose == "protocol" %}
                                    příloha předávacího protokolu
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            {% endif %}
            {% if client.proposals.all %}
                <h4>Nabídky</h4>
                <table class="table table-striped">
                    <thead>
                    <th scope="col">Číslo nabídky</th>
                    <th scope="col">Vytvořena dne</th>
                    <th scope="col">Podkladová nabídka</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Stav</th>
                    </thead>
                    <tbody>
                    {% for proposal in client.proposals.all %}
                        <tr>
                            <td><a href="{% url "edit-proposal" proposal.id %}">{{ proposal.proposal_number }}</a>
                            </td>
                            <td>{{ proposal.created_at }}</td>
                            <td>{{ proposal.uploaded.last.file_name }}</td>
                            <td>{{ proposal.price_netto }}</td>
                            <td>{% if proposal.signed_at %}potvrzena {{ proposal.signed_at }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if client.contracts.all %}
                    <br>
                    <h4>Smlouvy</h4>
                    <table class="table table-striped">
                        <thead>
                        <th scope="col">Číslo smlouvy</th>
                        <th scope="col">Vytvořena dne</th>
                        <th scope="col">Vychází z nabídky</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Stav</th>
                        </thead>
                        <tbody>
                        {% for contract in client.contracts.all %}
                            <tr>
                                <td>
                                    <a href="{% url "edit-contract" contract.id %}">{{ contract.contract_number }}</a>
                                </td>
                                <td>{{ contract.created_at }}</td>
                                <td>{{ contract.proposal.proposal_number }}</td>
                                <td>{{ contract.proposal.price_netto }}</td>
                                <td>{% if contract.signed_at %}potvrzena {{ contract.signed_at }}{% else %}
                                    -{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>Klient {{ client.name }} nemá vytvořenou smlouvu.</h4>
                {% endif %}

            {% elif client %}
                <h4>Klient {{ client.name }} nemá vytvořenou nabídku.</h4>
                <a class="btn btn-success" href="{% url "create-proposal" client.id %}">Vytvořit nabídku</a>
            {% endif %}
        </div>
    </div>




{% endblock %}
