{% extends "main.html" %}
{% block content %}
<div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="fw-normal">Dostupné dokumenty pro klienta: {{ client.name }}</h1>
    <p class="fs-5 text-muted">Níže je přehled dokumentů, které můžete online podepsat či k nim mít připomínky, které se
        rovnou odešlou obsluze.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
    {% for document in documents %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">{{ document.title }}</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">Celková hodnota: {{ document.price }} Kč</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Poslední úprava: {{ document.last_update }}</li>
                        <li>Počet položek: {{ document.items_count }}</li>
                        <li>Počet příloh: {{ document.attachments_count }}</li>
                        {% if document.signed %}
                        <li class="fw-bold">Podepsaná: {{ document.signed_at }}</li>
                        {% endif %}
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-outline-primary"
                       href="{% url "print-document" client.sign_code document.type document.id %}">
                        {% if document.signed %}
                        Zobrazit
                        {% else %}
                        Zobrazit a podepsat
                        {% endif %}
                    </a>
                </div>
                <div class="card-footer">
                    <p>Přílohy:</p>
                    {% for attachment in document.attachments %}
                        <p><a href="{{ attachment.file }}">{{ attachment.tag }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
